{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}Following - {{ config.NAME }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="content pure-u-1 pure-u-md-3-4" id="following">
{% for (follow_id, follow) in following_data %}
{{ utils.display_actor_inline(follow, default_avatar=config.DEFAULT_ICON, size=80,actions={"unfollowbtn":True,"fid":follow_id}) }}
{% endfor %}
{{ utils.display_pagination(older_than, newer_than) }}
</div>
</div>
{% endblock %}
{% block links %}
<link rel="alternate" href="{{ config.BASE_URL }}/following" type="application/activity+json">
{{ utils.display_pagination_links(older_than, newer_than) }}{% endblock %}
