{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block header %}
{% endblock %}
{% block content %}
<aside>
{% if client.logo %}
<div style="flex:initial;width:100px;">
<img src="{{client.logo}}" style="max-width:100px;">
</div>
{% endif %}
<a style="color:#FFFFFF" href="{{ client.url }}">{{ client.name }}</a> wants you to login.
<form method="POST" action="{{ url_for('indieauth_flow') }}">
{% if scopes %}
<b>Scopes:</b>
<ul style="margin:0;list-style-type:none">
{% for scope in scopes %}
<li style="margin-left:-40px"><input type="checkbox" name="scopes" value="{{scope}}" id="scope-{{scope}}"><label for="scope-{{scope}}">&nbsp;{{ scope }}</label>
</li>
{% endfor %}
</ul>
{% endif %}
<input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
<input type="hidden" name="state" value="{{ state }}">
<input type="hidden" name="client_id" value="{{ client_id }}">
<input type="hidden" name="me" value="{{ me }}">
<input type="hidden" name="response_type" value="{{ response_type }}">
<br/><center><input type="submit" value="Login" class="pure-button pure-button-success"></center>
</form>
</aside>
{% endblock %}
