<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{{ config.FAVICON }}">
<title>{% block title %}{{ config.NAME }}{% endblock %}</title>
<link rel="stylesheet" href="/static/pure.css">
<link rel="stylesheet" href="/static/grids.css">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/fonts.css">
<link rel="stylesheet" href="/static/cookie.css">
<script src="/static/jquery.js"></script>
<script src="/static/cookie.js"></script>
<script>
$(document).ready(function() {
$.cookieBar();
})
</script>
<link rel="authorization_endpoint" href="{{ config.ID }}/indieauth">
<link rel="token_endpoint" href="{{ config.ID }}/token">
{% if not request.args.get("older_than") and not request.args.get("previous_than") %}<link rel="canonical" href="{{ config.BASE_URL }}{{ request.path }}">{% endif %}
{% block links %}{% endblock %}
{% block headers %}{% endblock %}
</head>
<body>
{% if logged_in %}
<div id="admin-menu-wrapper" class="pure-menu pure-menu-horizontal">
<ul id="admin-menu" class="pure-menu-list">
<li class="pure-menu-item{% if request.path == "/admin" %} pure-menu-selected{% endif %}"><a href="/admin" class="pure-menu-link" style="border-bottom-left-radius:5px">Admin</a></li>
<li class="pure-menu-item{% if request.path == "/" %} pure-menu-selected{% endif %}"><a href="/" class="pure-menu-link">Public</a></li>
<li class="pure-menu-item{% if request.path == "/admin/new" %} pure-menu-selected{% endif %}"><a href="/admin/new" class="pure-menu-link">New</a></li>
<li class="pure-menu-item{% if request.path == "/admin/stream" %} pure-menu-selected{% endif %}"><a href="/admin/stream" class="pure-menu-link">Stream</a></li>
<li class="pure-menu-item{% if request.path == "/admin/notifications" %} pure-menu-selected{% endif %}"><a href="/admin/notifications" class="pure-menu-link">Notifications</a></li>
<li class="pure-menu-item{% if request.path == "/following" %} pure-menu-selected{% endif %}"><a href="/following" class="pure-menu-link">Following</a></li>
<li class="pure-menu-item{% if request.path == "/admin/lookup" %} pure-menu-selected{% endif %}"><a href="/admin/lookup" class="pure-menu-link">Lookup</a></li>
<li class="pure-menu-item"><a href="/admin/logout" class="pure-menu-link">Logout</a></li>
</ul>
</div>
{% endif %}
<div id="layout" class="pure-g">
{% block content %}{% endblock %}
</div>
<script src="/static/twemoji.js"></script>
<script>
window.onload = function() { 
twemoji.parse(document.body, {
folder: 'svg',
ext: '.svg'
});
}
</script>
</body>
</html>
