{% extends "layout.html" %}
{% import 'utils.html' as utils %}
{% block title %}{{ config.NAME }}: "{{ note.activity.object.content | html2plaintext | truncate(50) }}"{% endblock %}
{% block header %}
<link rel="self" href="{{ config.ID }}/">
<link rel="hub" href="https://pubsubhubbub.superfeedr.com/">
<meta content="article" property="og:type"/>
<meta content="{{ note.activity.object.url }}" property="og:url"/>
<meta content="{{ config.USERNAME }}" property="og:site_name"/>
<meta content="{{ config.USERNAME }}" property="og:title"/>
<meta content="{{ note.activity.object.content | html2plaintext | truncate(50) }}" property="og:description"/>
<meta content="{{ me.icon.url }}" property="og:image"/>
<meta content="200" property="og:image:width"/>
<meta content="200" property="og:image:height"/>
<meta content="summary" property="twitter:card"/>
<meta content="{{config.USERNAME}}@{{ config.DOMAIN}}" property="profile:username"/>
{% endblock %}
{% block content %}
{% include "header.html" %}
{% if request.path.startswith('/admin') %}
<div class="content" style="margin-left:10%;margin-right:10%">
<div id="notes">
<div class="posts">
<h1 class="content-subhead">Thread</h1>
{{ utils.display_thread(thread, default_avatar=config.DEFAULT_ICON, likes=likes, shares=shares) }}
</div>
</div>
</div>
{% else %}
<div class="content pure-u-1 pure-u-md-3-4">
<div id="notes">
<div class="posts">
<h1 class="content-subhead">Post</h1>
{{ utils.display_thread(thread, default_avatar=config.DEFAULT_ICON, likes=likes, shares=shares) }}
</div>
</div>
</div>
{% endif %}
{% endblock %}
{% block links %}<link rel="alternate" href="{{ note.activity.object.id}}" type="application/activity+json">{% endblock %}
